body {
  font-family: "poppins", sans-serif;
  background-color: #fff;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 24px;
  gap: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Tambahan CSS untuk tampilan arrow */
.slick-arrow {
  font-size: 24px;
  color: #fff;
  background: #333;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

/* scrolling style */

*::-webkit-scrollbar {
  width: 8px;
  z-index: -99;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(152, 152, 152);
  border-radius: 0;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(207, 34, 34);
  border-radius: 0;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
